<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
</head>
<body>
    <h1>Book Details</h1>
    <hr />
    <h2>title : {{book.title}}</h2>
    <h3>author : {{book.author}}</h3>
    <img src="{% static 'books/images/'%}{{book.image}}" alt="My image" />

</body>
</html>